<!-- <div class="text-layaout">
    <h1>{{nombre | titlecase }}</h1>
        <button pButton 
                (click)="mostrarNombre()"
                label="Cambiar Nombre"
                class="p-button-help"
                icon="pi pi-search-plus" iconPos="right">
        </button>  
        <br>
        <p-card subheader="Esto es un SubHeader" [header]="nombre | titlecase">
                Contenido
        </p-card>                
          
        
</div> -->
<app-menu></app-menu>
<router-outlet></router-outlet>

