<div class="text-layaout">
    <h1>Pipes Personalizados</h1>
    <p>Pipes creados por {{ 'nosotros' | mayusculas: enMayusculas  }}</p>

    
</div> 

<p-toolbar>
    <div class="p-toolbar-group-left">
       
    </div>
    
    <div class="p-toolbar-group-right">

        <Button (click)="cambiarValor()" pButton type="button" label="Toggle mayúsculas" class="p-button-warning p-mr-1"></Button>

        <button (click)="cambiarOrden('nombre')" pButton icon=" pi pi-sort" label="Por Nombre" class="p-mr-1"> </button>

        <button (click)="cambiarOrden('vuela')" pButton icon=" pi pi-sort" label="Vuela" class="p-mr-1 p-button-danger"> </button>
      
        <button (click)="cambiarOrden('color')" pButton icon=" pi pi-sort" label="Por Color" class="p-mr-1 p-button-help"> </button>

    </div>
</p-toolbar>

<div class="p-grid">

    <div class="p-col p-mt-2">

        <p-table [value]="heroes | ordenar:ordenarPor">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre</th>
                    <th>Vuela</th>
                    <th>Color</th>
                   
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-heroe>
                <tr>
                    <td>{{heroe.nombre}}</td>
                    <td>{{heroe.vuela | vuela }}</td>
                    <td>{{heroe.color}}</td>
                   
                </tr>
            </ng-template>
        </p-table>
    </div>
    

</div>
<hr>

<div class="p-grid">

    <div class="p-col p-mt-2">

        <p-table [value]="heroes | slice:0">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
                    <th pSortableColumn="vuela">Vuela <p-sortIcon field="vuela"></p-sortIcon></th>
                    <th pSortableColumn="color">Color <p-sortIcon field="color"></p-sortIcon></th>
                   
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-heroe>
                <tr>
                    <td>{{heroe.nombre}}</td>
                    <td>{{heroe.vuela | vuela }}</td>
                    <td>{{heroe.color}}</td>
                   
                </tr>
            </ng-template>
        </p-table>
    </div>
    

</div>